.resume{
    margin-left: 50vw;
    margin-top: 25vh;
    width: fit-content;
    height: fit-content;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    padding: 1%;
}